.google-map-container {
	height: 500px;
}

.gmnoprint img {
	max-width: none;
}

.marker {
    width: 16px;
    height: 16px;
    background: #3F7FEF;
    text-align: center;
    border-radius: 50%;
    cursor: move;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: box-shadow .2s;
}