<form name="loginForm" id="loginForm" data-ng-submit="vm.login()" autocomplete="off" novalidate>
	<fieldset>
		<div class="alert alert-danger animate-if" data-ng-if="vm.loginError" role="alert">
			<p>
				<i class="fa fa-exclamation-circle"></i>
				&nbsp;&nbsp;
				{{ vm.loginError  }}
			</p>
		</div>
		<div class="form-group" data-show-errors>
			<label class="sr-only" for="loginEmail">Email address</label>
			<input class="form-control"
					type="email"
					name="loginEmail"
					id="loginEmail"
					data-ng-model="vm.user.email"
					placeholder="Enter email address"
					required>
			<p class="help-block ng-messages-animation" data-ng-messages="loginForm.loginEmail.$error">
				<span data-ng-message="required">Enter email address</span>
				<span data-ng-message="email">Enter valid email address</span>
			</p>
		</div>
		<div class="form-group" data-show-errors>
			<label class="sr-only" for="loginPassword">Password</label>
			<input class="form-control"
					type="password"
					name="loginPassword"
					id="loginPassword"
					data-ng-model="vm.user.password"
					placeholder="Enter password"
					required>
			<p class="help-block ng-messages-animation" data-ng-messages="loginForm.loginPassword.$error">
				<span data-ng-message="required">Enter password</span>
			</p>
		</div>
		<div class="form-group">
				<button class="btn btn-custom text-uppercase"
						type="submit"
						data-ng-disabled="vm.loginProcessing"
						role="button">
					<i class="fa" data-ng-class="( vm.loginProcessing ) ? 'fa-spin fa-spinner' : 'fa-lock'"></i>
					&nbsp;&nbsp;
					Login
				</button>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-custom text-uppercase"
					type="button"
					data-ng-click="vm.oAuthLogin('facebook')"
					data-ng-disabled="vm.oAuthLoginProcessing"
					role="button">
				<i class="fa" data-ng-class="( vm.oAuthLoginProcessing ) ? 'fa-spin fa-spinner' : 'fa-facebook'"></i>
				</span>
				&nbsp;&nbsp;
				Login with Facebook
			</button>
		</div>
	</fieldset>
</form>