<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-uppercase">My account</h1>
			<div class="well well-custom">
				<tabset>
					<!-- Profile -->
					<tab heading="Profile">
						<tabpane>
							<h3 class="text-uppercase">Your profile</h3>
							<div class="well well-custom">
								<img class="img-responsive img-circle" ng-src="//www.gravatar.com/avatar/{{ vm.user.profile.md5_hash }}" alt="{{ vm.user }}">
								<h5>{{ vm.user.profile.first_name  }} {{ vm.user.profile.surname  }}</h5>
								<p>
									<strong>{{ vm.user.profile.email }}</strong>
								</p>
								<p>
									Created on: {{ vm.user.profile.created_on | date: 'dd/MM/yyyy @ HH:mm:ss'}}
								</p>
							</div>
						</tabpane>
					</tab>
					<!-- Orders -->
					<tab heading="Orders">
						<tabpane>
							<h3 class="text-uppercase">
								<span ng-hide="vm.isAdmin()">Your orders</span>
								<span ng-show="vm.isAdmin()">Website orders</span>
							</h3>
							<div class="well well-custom">
								<div ng-repeat="order in vm.orders | orderBy: 'orderTime'" ng-hide="vm.orders.length == 0">
									<h5>
										{{ order.orderTime | date: 'dd/MM/yyyy @ HH:mm:ss' }}
										<span class="pull-right" ng-show="vm.isAdmin()">{{ order.creatorUID }}</span>
									</h5>
									<div class="table-responsive">
										<table class="table table-striped ngCart cart">
											<thead>
												<tr>
													<th>{{ vm.productType | capitalize }}</th>
													<th>Price</th>
													<th>Quantity</th>
													<th>Total</th>
												</tr>
											</thead>
											<tfoot>
												<tr ng-show="vm.ngCart.getTax()">
													<th></th>
													<th>Tax ({{ order.taxRate }}%):</th>
													<th>{{ order.totalTax | currency: '£' }}</th>
													<th></th>
												</tr>
								                <tr>
								                    <th></th>
								                    <th></th>
								                    <th>Total:</th>
								                    <th>{{ order.totalCost | currency: '£' }}</th>
								                </tr>
						         	   		</tfoot>
											<tbody>
												<tr ng-repeat="product in order.products">
													<td>{{ product.name }}</td>
													<td>{{ product.price | currency: '£' }}</td>
													<td>{{ product.quantity }}</td>
													<td>{{ product.price * product.quantity | currency: '£' }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="alert alert-info" role="alert" ng-show="vm.orders.length == 0">
									<p>
										<i class="fa fa-info-circle"></i>
										&nbsp;&nbsp;
										No orders present.
									</p>
								</div>	
							</div>
						</tabpane>
					</tab>
					<!-- Lessons -->
					<tab heading="{{ vm.shopTitle }}" ng-show="vm.isAdmin()">
						<tabpane>
							<h3 class="text-uppercase">{{ vm.shopTitle }}</h3>
							<div class="well well-custom">
								<div class="table-responsive" ng-hide="vm.products.length == 0">
									<table class="table table-striped ngCart cart">
										<thead>
											<tr>
												<th>Name</th>
												<th>Date</th>
												<th>Venue</th>
												<th>Start time</th>
												<th>End time</th>
												<th>Price</th>
												<th>{{ vm.productQuantityLabel | capitalize }}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="product in vm.products">
												<td>{{ product.name }}</td>
												<td>{{ product.date }}</td>
												<td>{{ product.venue }}</td>
												<td>{{ product.startTime }}</td>
												<td>{{ product.endTime }}</td>
												<td>{{ product.price | currency: '£' }}</td>
												<td>{{ product.quantity }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="alert alert-danger" ng-show="vm.products.length == 0">
									<p>
										<i class="fa fa-exclaimation-circle"></i>
										&nbsp;&nbsp;
										Please add {{ vm.productType }}
									</p>
								</div>
							</div>
						</tabpane>
					</tab>
					<!-- Users -->
					<tab heading="Users" ng-show="vm.isAdmin()">
						<tabpane>
							<h3 class="text-uppercase">Users</h3>
							<div class="well well-custom">
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>First name</th>
												<th>Last name</th>
												<th>Username</th>
												<th>Email address</th>
												<th>Created on</th>
												<!--
												<th>Last login</th>
												-->
												<th>Administrator?</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="user in vm.users">
												{{ user }}
												<td>{{ user.first_name }}</td>
												<td>{{ user.surname }}</td>
												<td>{{ user.username }}</td>
												<td>{{ user.email }}</td>
												<td>{{ user.created_on | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
												<!--
												<td>{{ user.last_login }}</td>
												-->
												<td>
													<i class="fa" ng-class="user.isAdmin ? 'fa-check text-success' : 'fa-close text-danger'"></i>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</tabpane>
					</tab>
					<!-- Change password -->
					<tab heading="Change password">
						<tabpane>
							<div data-change-password-form user="vm.user.profile"></div>
						</tabpane>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>