<h3 class="text-uppercase">Calendar</h3>
	<div class="well well-custom">
		<div class="row">
			<h4 class="text-center">{{ vm.calendarControl.getTitle() }}</h4>
			<div class="row">
				<div class="col-sm-6 text-center">
					<div class="btn-group">
						<button class="btn btn-primary" ng-click="vm.calendarControl.prev()">Previous</button>
						<button class="btn btn-default" ng-click="vm.setCalendarToToday()">Today</button>
						<button class="btn btn-primary" ng-click="vm.calendarControl.next()">Next</button>
					</div>
				</div>
				<br class="visible-xs">
				<div class="col-sm-6 text-center">
					<div class="btn-group">
						<label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'year'">Year</label>
						<label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'month'">Month</label>
						<label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'week'">Week</label>
						<label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'day'">Day</label>
					</div>
				</div>
			</div>
		</div>
		<br>
		<mwl-calendar calendar-events="vm.events" calendar-view="vm.calendarView" calendar-current-day="vm.calendarDay" calendar-control="vm.calendarControl" calendar-event-click="vm.eventClicked($event)" calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" calendar-edit-event-click="vm.eventEdited($event)" calendar-delete-event-click="vm.eventDeleted($event)" calendar-auto-open="true"></mwl-calendar>
	</div>	
</div>