<h3 class="text-uppercase">Change password</h3>
<div class="well well-custom">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="alert alert-success animate-if" data-ng-if="changePasswordSuccess" role="alert">
				<p>
					<i class="fa fa-info-circle"></i>
					{{ changePasswordSuccess }}
				</p>
			</div>
			<div class="alert alert-danger animate-if" data-ng-if="changePasswordError" role="alert">
				<p>
					<i class="fa fa-exclamation-circle"></i>
					{{ changePasswordError }}
				</p>
			</div>
			<form id="changePasswordForm" name="changePasswordForm" data-ng-submit="changePassword()" novalidate>
				<fieldset>
					<div class="form-group" show-errors>
						<label class="sr-only" for="currentPassword">Current password</label>
						<input class="form-control"
								type="password"
								name="currentPassword"
								id="currentPassword"
								data-ng-model="passwords.currentPassword"
								placeholder="Enter current password"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="changePasswordForm.currentPassword.$error">
							<span data-ng-message="required">Enter your current password</span>
						</p>
					</div>
					<div class="form-group" show-errors>
						<label class="sr-only" for="newPassword">New password</label>
						<input class="form-control"
								type="password"
								name="newPassword"
								id="newPassword"
								data-ng-model="passwords.newPassword"
								placeholder="Choose a new password"
								minlength="8"
								maxlength="16"
								data-password-characters-validator
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="changePasswordForm.newPassword.$error">
								<span data-ng-message="required">Choose a new password</span>
								<span data-ng-message="minlength">Enter 8 characters or more</span>
								<span data-ng-message="maxlength">Enter 16 characters or less</span>
								<span data-ng-message="passwordcharacters">
									Your password must consist of alphabetical or numeric characters.
									It must also contain at least one special character, a number as well as an uppercase letter.
								</span>

						</p>
					</div>
					<div class="form-group" show-errors>
						<label class="sr-only" for="confirmNewPassword">Confirm new password</label>
						<input class="form-control"
								type="password"
								name="confirmNewPassword"
								id="confirmNewPassword"
								data-ng-model="passwords.confirmNewPassword"
								placeholder="Confirm your new password"
								data-match-validator="passwords.newPassword"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="changePasswordForm.confirmNewPassword.$error">
							<span data-ng-message="required">Confirm your chosen password</span>
							<span data-ng-message="match">Your password choice must match</span>
						</p>
					</div>
					<div class="form-group">
						<button class="btn btn-custom text-uppercase"
								type="submit" data-ng-disabled="changePasswordProcessing">
							<i class="fa" data-ng-class="( changePasswordProcessing ) ? 'fa-spin fa-spinner' : 'fa-edit' "></i>
							&nbsp;&nbsp;
							Change password
						</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>