<h3 class="text-uppercase">{{ vm.shopTitle }}</h3>
<div class="well well-custom">
	<div class="alert alert-danger" data-ng-if="!vm.products.length">
		<p>
			<i class="fa fa-exclamation-circle"></i>
			&nbsp;&nbsp;
			Please add {{ vm.shopTitle | lowercase }}.
		</p>
	</div>
	<div class="table-responsive" data-ng-if="vm.products.length">
		<table class="table table-striped ngCart cart">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Venue</th>
					<th>Start time</th>
					<th>End time</th>
					<th>Price</th>
					<th>{{ vm.productQuantityLabel | capitalize }}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="product in vm.products">
					<td>{{ product.name }}</td>
					<td>{{ product.date }}</td>
					<td>{{ product.venue }}</td>
					<td>{{ product.startTime }}</td>
					<td>{{ product.endTime }}</td>
					<td>{{ product.price | currency: '£' }}</td>
					<td>{{ product.quantity }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>