<h3 class="text-uppercase">Customers</h3>
<div class="well well-custom">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>First name</th>
					<th>Last name</th>
					<th>Email address</th>
					<th>Created on</th>
					<th>Last login</th>
					<th>Administrator?</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in vm.users" ng-if="user.md5_hash && user.$id != vm.userId">
					<td>
						<!--
						<img class="img-circle" ng-src="//gravatar.com/avatar/{{ user.md5_hash }}" alt="{{ user.first_name }} {{ user.surname }}">
						-->
					</td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.surname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.created_on | date: 'dd/MM/yyyy @ h:mma' }}</td>
					<td>{{ user.last_login | date: 'dd/MM/yyyy @ h:mma' }}</td>
					<td>
						<toggle-switch ng-model="user.is_admin" ng-click="vm.click(user.$id, user.is_admin)"><toggle-switch>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>