<div class="well well-custom">
	<h2 class="text-uppercase">
		<span data-ng-if="productAction == 'add'">Add {{ productType }}</span>
		<span data-ng-if="productAction == 'edit'">Edit {{ productType }}</span>
	</h2>
	<div class="alert alert-danger" data-ng-show="productError" role="alert">
		<p>
			<i class="fa fa-exclamation-circle"></i>
			&nbsp;&nbsp;
			{{ productError }}
		</p>
	</div>
	<form name="productForm" id="productForm" data-ng-submit="submitProductForm()" novalidate>
		<fieldset>
			<div class="form-group" data-show-errors>
				<label class="text-uppercase" for="productName">Name</label>
				<input class="form-control"
						type="text"
						name="productName"
						id="productName"
						data-ng-model="product.name"
						placeholder="Enter name"
						required>
				<p class="help-block ng-messages-animation" data-ng-messages="productForm.productName.$error">
					<span data-ng-message="required">Enter name</span>
				</p>
			</div>
			<div class="form-group" data-show-errors>
				<label class="text-uppercase" for="productDescription">Description</label>
				<textarea class="form-control"
						name="productDescription"
						id="productDescription"
						data-ng-model="product.description"
						placeholder="Enter description"
						required></textarea>
				<p class="help-block ng-messages-animation" data-ng-messages="productForm.productDescription.$error">
					<span data-ng-message="required">Enter description</span>
				</p>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productDate">Date</label>
						<input class="form-control"
								type="text"
								name="productDate"
								id="productDate"
								data-ng-model="product.date"
								placeholder="DD/MM/YYYY"
								pattern="\d{1,2}/\d{1,2}/\d{4}"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productDate.$error">
							<span data-ng-message="required">Enter date</span>
							<span data-ng-message="pattern">Enter DD/MM/YYYY</span>
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productVenue">Venue</label>
						<input class="form-control"
								type="text"
								name="productVenue"
								id="productVenue"
								data-ng-model="product.venue"
								placeholder="Enter venue"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productVenue.$error">
							<span data-ng-message="required">Enter venue</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productStartTime">Start time</label>
						<input class="form-control"
								type="text"
								name="productStartTime"
								id="productStartTime"
								data-ng-model="product.start_time"
								placeholder="HH:MM"
								pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productStartTime.$error">
							<span data-ng-message="required">Enter start time</span>
							<span data-ng-message="pattern">Enter HH:MM</span>
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productEndTime">End time</label>
						<input class="form-control"
								type="text"
								name="productEndTime"
								id="productEndTime"
								data-ng-model="product.end_time"
								placeholder="HH:MM"
								pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productEndTime.$error">
							<span data-ng-message="required">Enter end time</span>
							<span data-ng-message="pattern">Enter HH:MM</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productPrice">Price</label>
						<div class="input-group">
							<div class="input-group-addon">&pound;</div>
							<input class="form-control"
									type="text"
									name="productPrice"
									id="productPrice"
									data-ng-model="product.price"
									placeholder="eg: 10.00"
									pattern="^\d+(\.|\,)\d{2}$"
									required>
						</div>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productPrice.$error">
							<span data-ng-message="required">Enter price</span>
							<span data-ng-message="pattern">Enter price, eg: 10.00</span>
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group" data-show-errors>
						<label class="text-uppercase" for="productQuantity">{{ productQuantityLabel }}</label>
						<input class="form-control"
								type="text"
								name="productQuantity"
								id="productQuantity"
								data-ng-model="product.quantity"
								placeholder="Enter no. of {{ productQuantityLabel }}"
								pattern="\d*"
								required>
						<p class="help-block ng-messages-animation" data-ng-messages="productForm.productQuantity.$error">
							<span data-ng-message="required">Enter no. of {{ productQuantityLabel }}</span>
							<span data-ng-message="pattern">Enter number</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row" ng-if="productAction == 'edit'">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<a class="btn btn-custom text-uppercase" ui-sref="{{ shopTitleSlug }}">
							<i class="fa fa-arrow-left"></i>
							&nbsp;&nbsp;
							Back to {{ shopTitleSlug }}
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8">
					<div class="form-group">
						<button class="btn btn-custom text-uppercase"
								type="submit"
								data-ng-disabled="vm.productFormSubmitted">
							<i class="fa" data-ng-class="( productFormSubmitted ) ? 'fa-spin fa-spinner' : '{{ fontIcon }}' "></i>
							&nbsp;&nbsp;
							{{ productAction }} {{ productType }}
						</button>
					</div>
				</div>
			</div>
			<div class="row" ng-if="productAction == 'add'">
				<div class="col-xs-12">
					<button class="btn btn-custom text-uppercase"
							type="submit"
							data-ng-disabled="vm.productFormSubmitted">
						<i class="fa" data-ng-class="( productFormSubmitted ) ? 'fa-spin fa-spinner' : '{{ fontIcon }}' "></i>
						&nbsp;&nbsp;
						{{ productAction }} {{ productType }}
					</button>	
				</div>
			</div>


			<div class="form-group">
			</div>
		</fieldset>
	</form>
</div>