<div class="row">
    <div class="small-12 columns">
         <h1 class="subheading">Clients</h1>
    </div>
</div>
<!-- Client logos -->
<div class="row client-logos">
    <div class="small-12 columns text-center">
         <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <li>
                <img src="images/client-logos/7up.png" alt="7Up" />
            </li>
            <li>
                <img src="images/client-logos/b-and-q.png" alt="B&amp;Q" />
            </li>
            <li>
                <img src="images/client-logos/british-airways.png" alt="British Airways" />
            </li>
            <li>
                <img src="images/client-logos/castrol.png" alt="Castrol" />
            </li>
            <li>
                <img src="images/client-logos/emirates.png" alt="Emirates" />
            </li>
            <li>
                <img src="images/client-logos/lexus.png" alt="Lexus" />
            </li>
            <li>
                <img src="images/client-logos/lloyds-tsb.png" alt="Lloyds TSB" />
            </li>
            <li>
                <img src="images/client-logos/northern-trust.png" alt="Northern Trust" />
            </li>
            <li>
                <img src="images/client-logos/specsavers.png" alt="SpecSavers" />
            </li>
            <li>
                <img src="images/client-logos/time-out-dubai.png" alt="Time Out Dubai" />
            </li>
            <li>
                <img src="images/client-logos/transport-for-london.png" alt="Transport for London" />
            </li>
            <li>
                <img src="images/client-logos/virgin-atlantic.png" alt="Virgin Atlantic" />
            </li>
         </ul>
    </div>
</div>
<div class="row">
    <div class="small-8 columns show-for-small">
        <ul class="inline-list">
            <li>
                <a href="#" class="go-to-top">
                    <i class="icon-arrow-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="medium-8 columns hide-for-small">
        <ul class="inline-list">
            <li>
                <small>&copy; {{ vm.WEBSITE_SETTINGS.TITLE }} {{ vm.copyrightYear }}</small>
            </li>
            <li>
                <small>|</small>
            </li>
            <li>
                <small>
                    <a href="privacy.html">
                        Privacy policy &amp; cookies
                    </a>
                </small>
            </li>
        </ul>
    </div>
    <div class="small-4 columns">
        <ul class="inline-list right">
            <li>
                <a href="#">
                    <i class="fi-social-facebook">
                        <span>Hot Source Audio Facebook</span>
                    </i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/HotsourceAudio">
                    <i class="fi-social-twitter">
                        <span>Hot Source Audio Twitter</span>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>
			&copy; {{ vm.WEBSITE_SETTINGS.TITLE }} {{ vm.copyrightYear }}
			</p>
		</div>
	</div>
</div>
-->