<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" data-ui-sref="app.home">
				<img class="img-responsive" alt="{{ vm.WEBSITE_SETTINGS.TITLE }}" data-ng-src="images/{{ vm.WEBSITE_SETTINGS.LOGO }}">
			</a>
		</div>
		<!--{{ vm.user | json }}-->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li> 
					<a class="shop" data-ui-sref="app.{{ vm.WEBSITE_SETTINGS.SHOP.TITLE | lowercase }}" data-ui-sref-active="active">{{ vm.WEBSITE_SETTINGS.SHOP.TITLE }}</a>
				</li>
				<li> 
					<a class="about" data-ui-sref="app.about" data-ui-sref-active="active">About</a>
				</li>
				<!--
				<li>
					<a class="contact" data-ui-sref="app.contact" data-ui-sref-active="active">Contact</a>
				</li>
				-->
				<li data-ng-if="!vm.user">
					<a class="auth" data-ui-sref="app.login" data-ui-sref-active="active">Login</a>
				</li>
				<li data-ng-if="vm.user">
					<a class="auth" data-ui-sref="app.my-account" data-ui-sref-active="active">My account</a>
				</li>
				<li data-ng-if="vm.user">
					<a class="auth" data-ui-sref="app.home" data-ng-click="vm.logout()">Logout</a>
				</li>
				<li class="hidden-xs">
					<a class="checkout" data-ui-sref="app.checkout" data-ui-sref-active="active">
						<summary></summary>
					</a>
				</li>
				<li class="hidden-xs" data-ng-if="vm.user">
					<a class="my-profile" data-ui-sref="app.my-account">
						<img class="img-circle" data-ng-src="{{ vm.user.avatar }}" />
					</a>
				</li>		
			</ul>
		</div>
	</div>
</nav>