<!-- Top Bar -->
<div class="contain-to-grid">
    <top-bar>
        <ul class="title-area">
            <li class="name">
            	<h1>
            		<a data-ui-sref="app.home" ng-show="$state.current.data.pageBodyClass != 'home'">{{ vm.WEBSITE_SETTINGS.TITLE }}</a>
            	</h1>
            </li>
            <li toggle-top-bar class="menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
        </ul>
        <top-bar-section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li data-ui-sref-active="active">
                    <a class="about-us" data-ui-sref="app.about-us">About us</a>
                </li>
                <li class="divider"></li>
                <li data-ui-sref-active="active">
                    <a class="showreel" data-ui-sref="app.showreel">Showreel</a>
                </li>
                <!--
                <li class="divider"></li>
                <li data-ui-sref-active="active">
                     <a class="showreel" data-ui-sref="app.library-music">Library music</a>
                </li>
                -->
                <li class="divider"></li>
                <li data-ui-sref-active="active">
                    <a class="contact-us" data-ui-sref="app.contact-us">Contact us</a>
                </li>
                <!--
                <li class="divider"></li>
                <li data-ng-if="!vm.user" data-ui-sref-active="active">
                   	<a class="register" data-ui-sref="app.register">Register</a>
                </li>
                -->
                <li class="divider" data-ng-if="!vm.user"></li>
                <li class="has-form" data-ng-if="!vm.user">
                    <a href="#" class="button" ng-click="openModal()">Login</a>
                </li>
            </ul>
        </top-bar-section>
    </top-bar>
</div>