/*
|---------
| About us
|---------
*/

.portrait {
    position: relative;
    margin: 20px 0 40px;
}

.details-list {
    margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
 
    .portrait {
        height: 200px;
        overflow: hidden;
    }
    
    .portrait img {
        margin-top: -20px;
    }
}