/* About us */
.employee {
	display: inline-block;
    margin-bottom: 40px;
}

.employee h4 {
    margin-top: -5px;
}

.employee .th {
	margin-bottom: 20px;
}

@media (min-width: 769px) {

	.employee .th {
		margin-bottom: 0;
	}
}