/*
|-----------
| Contact us
|-----------
*/

.google-map-container {
    position: relative;
    margin: 0 0 20px 0;
    width: 100%;
    height: 450px;
}

.gmnoprint img {
    max-width: none;
}

.google-map-container [data-icon]:before {
    content: '';
}