/* Top bar */
header {
    width: 100%;
    z-index: 7;
    position: absolute;
}

.top-bar .name h1 a {
    width: 100%;
}

.top-bar-section ul li.active > a {
    background: #E95130;
}

.top-bar-section ul li > a {
    font-family: 'TeXGyreAdventorRegular', sans-serif;
}

.top-bar-section ul li.active > a:hover {
    background: #E95130;
    cursor: default;
}

/* Page overlay */
.page-overlay .overlay {
    display: block;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    background: #454545;
}

/* Banner */
.banner-container {
    margin-top: 45px;
    margin-bottom: 40px;
    padding-bottom: 45%;
    height: 0;
    width: 100%;
    overflow: hidden;
}

.banner-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Footer */
.clients-row {
    height: 60px;
    background: #333;
}

.clients-row h1 {
    height: 60px;
    line-height: 60px;
}

.client-logos-row {
    background: #CCC;
}

.client-logos-row ul {
    margin: 60px 0 30px 0;
}

.footer-row {
    background: #333;
}

footer .inline-list {
    margin-top: 28px;
}

footer .inline-list.right {
    margin-top: 20px;
}

footer small {
    font-size: 14px;
}

footer a {
    color: #FFF;
}

footer a i {
    color: #FFF;
    font-size: 30px;
}

footer a:hover i {
    color: #E95130;
}

footer a i span {
    display: none;
}
