#loading-bar .bar {
	background: #F2267B;
}

#loading-bar .peg {
	-moz-box-shadow: #F2267B 1px 0 6px 1px;
	-ms-box-shadow: #F2267B 1px 0 6px 1px;
	-webkit-box-shadow: #F2267B 1px 0 6px 1px;
	box-shadow: #F2267B 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  #F2267B;
	border-left-color: #F2267B;
}