#loading-bar .bar {
	background: #E95130;
}

#loading-bar .peg {
	-moz-box-shadow: #E95130 1px 0 6px 1px;
	-ms-box-shadow: #E95130 1px 0 6px 1px;
	-webkit-box-shadow: #E95130 1px 0 6px 1px;
	box-shadow: #E95130 1px 0 6px 1px;
}

#loading-bar-spinner {
	top: 12px;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  #E95130;
	border-left-color: #E95130;
	width: 22px;
	height: 22px;
}