/*
|-----
| Main
|-----
*/

body {
	/*background-color: #575757;*/
	background-image: url(../../images/backgrounds/soundproofing.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p,
nav,
h1,
h2,
h3,
h4,
h5,
button {
	font-family: 'TeXGyreAdventorRegular', sans-serif;
}

p {
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
a {
    color: #E95130;
}

p a:hover {
	text-decoration: underline;
}

h2 {
	margin: 0;
}

h1.subheading {
	font-size: 1.5rem;
}

.th {
	border-width: 2px;
}