/*
|-----
| Main
|-----
*/

body {
    /*background: url(../../images/backgrounds/background.jpg);*/
    background-color: #000;
}

p,
nav,
h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    color: #F2267B;
}

h1.subheading {
    font-size: 24px;
    color: #FFF;
}

h2 {
    margin: 20px 0 30px 0;
}