<div data-ng-if="!attrs.id">
    <button class="btn btn-custom text-uppercase" data-ng-disabled="true" role="button" data-ng-transclude></button>
</div>
<div data-ng-if="attrs.id">
    <div data-ng-hide="inCart()">
        <button class="btn btn-custom text-uppercase" data-ng-click="ngCart.addItem(id, name, price, quantity, data)" role="button"
           data-ng-transclude>
        </button>
    </div>
    <button class="btn btn-custom text-uppercase" data-ng-show="inCart()" disabled="disabled">
    	<i class="fa fa-check"></i>
    	This {{ productType }} is in your basket
    </button>
</div>