<div class="row" data-ng-if="ngCart.totalItems() === 0">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">
            <p>
                <i class="fa fa-exclamation-circle"></i>
                &nbsp;&nbsp;
                Your shopping basket is empty
            </p>
        </div>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <a class="btn btn-custom text-uppercase" data-ui-sref="{{ websiteSettings.SHOP.TITLE | lowercase }}">
                    <i class="{{ websiteSettings.SHOP.FONT_ICON }}"></i>
                    &nbsp;&nbsp;
                    Continue shopping
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="ngCart.totalItems() > 0">
    <div class="table-responsive col-xs-12">
        <table class="table table-striped ngCart cart">
            <thead>
                <tr>
                    <th></th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr data-ng-show="ngCart.getTax()">
                    <th></th>
                    <th></th>
                    <th>Tax ({{ ngCart.getCart().tax }}%):</th>
                    <th>{{ ngCart.getTax() | currency: '£' }}</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Total:</th>
                    <th>{{ ngCart.totalCost() | currency: '£' }}</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
            <tr data-ng-repeat="item in ngCart.getCart().items track by $index">
                <td>{{ item.getName() }}</td>
                <td>
                    <span class="fa fa-minus" data-ng-class="{'disabled':item.getQuantity()==1}" data-ng-click="item.setQuantity(-1, true)"></span>
                    &nbsp;&nbsp;
                    {{ item.getQuantity() | number }}
                    &nbsp;&nbsp;
                    <span class="fa fa-plus" data-ng-click="item.setQuantity(1, true)"></span>
                </td>
                <td>{{ item.getPrice() | currency: '£' }}</td>
                <td>{{ item.getTotal() | currency: '£' }}</td>
                <td>
                    <span data-ng-click="ngCart.removeItem($index)" class="fa fa-trash"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" data-ng-show="ngCart.totalItems() > 0">
    <div class="col-xs-12" data-ng-if="signedIn == 'true'">
        <!--
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-submit="ngCart.processPayPal()">
        -->
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" data-ng-submit="ngCart.processPayPal()">
            <span data-ng-repeat="item in ngCart.getCart().items track by $index">
                <input type="hidden" name="{{'item_name_'}}{{$index + 1}}" value="{{ item.getName() }}">
                <input type="hidden" name="{{'amount_'}}{{$index + 1 }}" value="{{ item.getPrice() }}">
                <input type="hidden" name="{{'quantity_'}}{{$index + 1 }}" value="{{ item.getQuantity() }}">
            </span>
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="{{ websiteSettings.SHOP.PAY_PAL_EMAIL_ADDRESS }}">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="charset" value="utf-8">
            <input type="hidden" name="currency_code" value="GBP">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="lc" value="GB">
            <input type="hidden" name="email" value="{{ userProfile.email }}"> 
            <input type="hidden" name="first_name" value="{{ userProfile.firstName }}">
            <input type="hidden" name="surname" value="{{ userProfile.surname }}">
            <input type="hidden" name="shopping_url" value="{{ websiteSettings.BASE_URL }}#/{{ websiteSettings.SHOP.TITLE | lowercase }}">
            <input type="hidden" name="ccp_logo_image" value="{{ websiteSettings.BASE_URL }}images/{{ websiteSettings.LOGO }}">
            <input type="hidden" name="image_url" value="{{ websiteSettings.BASE_URL }}images/{{ websiteSettings.LOGO }}">
            <input type="hidden" name="return" value="{{ websiteSettings.BASE_URL }}#/checkout/{{ userProfile.md5Hash }}">
            <input type="hidden" name="cancel_return" value="{{ websiteSettings.BASE_URL }}#/payment-cancelled">
            <button class="btn btn-primary text-uppercase pull-right" role="button" data-ng-disabled="ngCart.getPayPalProcessing()">
                <i class="fa" data-ng-class="( ngCart.getPayPalProcessing() ) ? 'fa-spin fa-spinner' : 'fa-paypal'"></i>
                &nbsp;&nbsp;
                Buy now with PayPal
            </button>
        </form>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-6" data-ng-if="signedIn != 'true'">
        <a ui-sref="login" class="btn btn-custom text-uppercase pull-right">
            <i class="fa fa-lock"></i>
            &nbsp;&nbsp;
            Please login or register to proceed to Checkout
        </a>
    </div>
</div>