<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-uppercase">Checkout</h1>
			<div class="well well-custom">
				<div class="alert alert-danger" role="alert" data-ng-if="vm.orderError">
					<i class="fa fa-alert"></i>
					&nbsp;&nbsp;
					{{ vm.orderError }}
				</div>
				<div class="alert alert-success" role="alert" data-ng-if="!vm.orderError">
					<p>Payment completed.</p>
				</div>
				<div class="row" data-ng-hide="vm.orderError">
					<div class="col-xs-6"></div>
					<div class="col-xs-6">
						<a class="btn btn-custom text-uppercase" data-ui-sref="my-account">
							<i class="{{ vm.WEBSITE_SETTINGS.SHOP.FONT_ICON }}"></i>
							To view your orders click here
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>