.btn-custom,
.btn-custom:focus {
	width: 100%;
	text-align: left;
	color: white;
	background: #4EBBEE;
}

.btn-custom[disabled] {
	border-color: #4EBBEE;
	color: #4EBBEE;
	background: white !important;
	cursor: default !important;
	opacity: 1 !important;
}

.btn-custom:hover {
	color: #4EBBEE;
	background: white;
	border-color: #4EBBEE;
}

.btn-danger-custom,
.btn-danger-custom:focus {
	width: 100%;
	text-align: left;
	color: white;
	background: #a94442;
}

.btn-danger-custom[disabled] {
	border-color: #a94442;
	color: #a94442;
	background: white !important;
	cursor: default !important;
	opacity: 1 !important;
}

.btn-danger-custom:hover {
	color: #a94442;
	background: white;
	border-color: #a94442;
}