/* Google Fonts */
* {
	font-family: 'Sintony', sans-serif;
}

h1 {
	color: white;
}

h2,
.h2,
h3,
.well-custom h1,
h4 {
	color: #4B7314;
}

h5 {
	color: #4EBBEE;	
	font-size: 20px;
}

.well-custom {
	background: white;
	opacity: 0.9;
}