/* Navbar */
.navbar-default {
	background: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	background: white;
}

.nav > li > a {
	padding: 15px 10px;
}

.navbar-brand img {
	margin-top: -5px;
}

/* Hover states */
.navbar-default .navbar-nav>li>a {
	color: #4B7314;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4EBBEE;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a.active:hover {
	color: #4EBBEE;
	cursor: default;
}

.navbar-default .img-circle {
	position: absolute;
	top: 3px;
	left: -20px;
	width: 40px;
	height: 40px;
}

.navbar-default .my-profile {
	margin-left: 30px;
	width: 40px;
	height: 40px;
}