/* Page backgrounds */
.page-background-home,
.page-background-shop,
.page-background-about,
.page-background-contact,
.page-background-auth,
.page-background-checkout,
.page-background-error {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.page-background-home {
	background-image: url(/images/calm_1.jpg);
}

.page-background-shop {
	background-image: url(/images/calm_2.jpg);
}

.page-background-about {
	background-image: url(/images/calm_3.jpg);
}

.page-background-contact {
	background-image: url(/images/calm_1.jpg);
}

.page-background-auth {
	background-image: url(/images/calm_2.jpg);
}

.page-background-checkout {
	background-image: url(/images/calm_3.jpg);
}

.page-background-error {
	background-image: url(/images/calm_1.jpg);
}