.nav-tabs>li>a {
	color: #4B7314;
	font-weight: bold;	
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #4EBBEE !important;
}

a:focus {
    outline: none !important;
}