#toast-container {
	margin-top: 55px;	
}

#toast-container > div {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#toast-container > .toast-info {
	color: white;
	background-color: #4EBBEE;
}
#toast-container > .toast-error {
	color: white;
	background-color: #4EBBEE;
}
#toast-container > .toast-success {
	color: white;
	background-color: #4EBBEE;
}
#toast-container > .toast-warning {
	color: white;
	background-color: #4EBBEE;
}